body {
    background-color:beige;
}

a {
    color: black;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: space-evenly;
    margin-left: 16vw;
    margin-right: 16vw;
}

.product {
    height: 100px;
    width: 200px;
    padding: 10px;
}

.product_image {
    height: 75%;
    width: 100%;
}

