body {
    background-color:beige;
}

a {
    color: black;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    margin-left: 16vw;
    margin-right: 16vw;
}

.product {
    height: 230px;
    width: 200px;
    padding: 10px;
    background-color: aqua;

}

.product:hover{
    background-color: rgb(145, 145, 112);
}

.price_etc{
    background-color: white;
}

.product_image {
    height: 75%;
    width: 100%;
}


